{% extends 'MUT_app/layout.html' %}
{% block content %}
    {% load static %}
    <div class="container_0">
    <div class="container_10">
        <div class="container_11">
            <h1>О нас</h1>
            <p>Мы - маленькая команда с большими целями. Мы любим свое дело и любим радовать наших гостей. Наш
                ассортимент постоянно пополняется интересными новинками. Мы каждый день просматриваем ваши отзывы,
                ведь для нас очень важно ваше мнение, и мы с удовольствием прислушиваемся к вашим советам!</p>
        </div>
    </div>
        <div class="container_16"></div>
    <div class="container_12">
        <div class="container_13">
            <div class="container_3">
            <h1>Наши цели</h1>
             <div class="container__img_1">

    <div class="container__img1">
    <img src="{% static 'img/map.png' %}" alt="cupcake">
        <h2>Новые офисы</h2>
    </div>

    <div class="container__img1">
    <img src="{% static 'img/cook.png' %}" alt="candy">
        <h2>Новые рецепты</h2>
    </div>

    <div class="container__img1">
    <img src="{% static 'img/person.png' %}" alt="lollypop">
        <h2>Новые клиенты</h2>
    </div>
             </div>
        </div>
        </div>
    </div>
    <div class="container_14"></div>
    </div>
{% endblock %}