{% extends 'MUT_app/layout.html' %}
{% block content %}
    {% load static %}
    <div class="container_0">
        <div class="container_catalog">
            <div class="container">
                <h1>Каталог</h1>
                <div class="row row-cols-1 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card h-100">
                            <img src="{% static 'img/product1.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Банка "Спелое киви"</h5>
                                <p class="card-text">1000 ₽</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="{% static 'img/product3.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Банка "Цитрусовый всплеск"</h5>
                                <p class="card-text">2000 ₽</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="{% static 'img/product2.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Банка "Клубника"</h5>
                                <p class="card-text">1500 ₽</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="{% static 'img/product6.jpeg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Шоколадный набор "Поздравление"</h5>
                                <p class="card-text">2490 ₽</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="{% static 'img/product4.jpeg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Шоколадный набор "Любимый"</h5>
                                <p class="card-text">2380 ₽</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <img src="{% static 'img/product5.jpeg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Шоколадный набор "Родная"</h5>
                                <p class="card-text">2520 ₽</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}