{% extends 'MUT_app/layout.html' %}
{% block content %}
    <div class="container_0">
<div class="container_1">
<div class="container_2">
    <div class="container_3">
<h1>Десерты ручной работы с любовью</h1>
    {% load static %}
    <div class="container__img">

    <div class="container__img1">
    <img src="{% static 'img/cupcake.png' %}" alt="cupcake">
        <h2>Шоколадные сладости</h2>
    </div>

    <div class="container__img1">
    <img src="{% static 'img/candy.png' %}" alt="candy">
        <h2>Сладкие подарки</h2>
    </div>

    <div class="container__img1">
    <img src="{% static 'img/lollipop.png' %}" alt="lollypop">
        <h2>Другие товары</h2>
    </div>

        </div>
        </div>
</div>
</div>
    <div class="container_4">
    <div class="container">
        <h1>Наши товары</h1>
    <div class="row row-cols-1 row-cols-md-3 g-3">
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'img/product1.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Банка "Спелое киви"</h5>
           <p class="card-text">1000 ₽</p>
    </div>
  </div>
  </div>
        <div class="col">
    <div class="card h-100">
      <img src="{% static 'img/product3.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Банка "Цитрусовый всплеск"</h5>
          <p class="card-text">2000 ₽</p>
        </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'img/product2.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Банка "Клубника"</h5>
           <p class="card-text">1500 ₽</p>
      </div>
    </div>
  </div>
</div>
    </div>
        </div>
<div class="container_18"></div>
<div class="container_5">
<div class="container_6">
    <div class="container_7">
<h1>Сделай свою сладкую коробку</h1>
    {% load static %}
    <div class="container__img_2">

    <div class="container__img1">
    <img src="{% static 'img/gift.png' %}" alt="cupcake">
        <h2>Выбери упаковку</h2>
    </div>

    <div class="container__img1">
    <img src="{% static 'img/ribbon.png' %}" alt="candy">
        <h2>Выбери бант</h2>
    </div>

    <div class="container__img1">
    <img src="{% static 'img/pic.png' %}" alt="lollypop">
        <h2>Выбери картинку</h2>
    </div>

        <div class="container__img1">
    <img src="{% static 'img/candy1.png' %}" alt="lollypop">
        <h2>Выбери сладости</h2>
    </div>
        </div>
        <button>Подробнее &#8594;</button>
        </div>
</div>
</div>
           <div class="container_15">
    <div class="container">
        <h1>Наши товары</h1>
    <div class="row row-cols-1 row-cols-md-3 g-3">
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'img/product4.jpeg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Шоколадный набор "Любимый"</h5>
           <p class="card-text">2380 ₽</p>
    </div>
  </div>
  </div>
        <div class="col">
    <div class="card h-100">
      <img src="{% static 'img/product5.jpeg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Шоколадный набор "Родная"</h5>
          <p class="card-text">2520 ₽</p>
        </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'img/product6.jpeg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Шоколадный набор "Поздравление"</h5>
           <p class="card-text">2490 ₽</p>
      </div>
    </div>
  </div>
</div>
    </div>
        </div>
    <div class="container_8">
        <div class="container_9">
            <h1>Планируешь вечеринку?</h1>
            <p>Конфеты получают путем растворения сахара в воде или молоке с образованием сиропа, который кипятят до
                тех пор, пока он не достигнет желаемой концентрации или не начнет карамелизироваться.  Конфеты бывают
                самых разных текстур, от мягкой и жевательной до твердой и ломкой. Текстура конфет зависит от
                ингредиентов.</p>
        </div>
    </div>
    <div class="container_17"></div>
    </div>

{% endblock %}