{% extends 'MUT_app/layout.html' %}
{% block content %}
    <div class="container_0">
        <div class="container_blog">
            <h1>Блог</h1>
            <div class="container_blog__content">
                {% for post in posts %}
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ post.img.url }}" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ post.title }}</h5>
                                    <p class="card-text">{{ post.intro }}</p>
                                    <p class="card-text"><small class="text-muted">{{ post.date_added }}</small></p>
                                    <a href="{% url 'post_detail' post.slug %}">Подробнее &#8594;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}